
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F5DC; /* beige elegante */
  color: #D4AF37;            /* dorado para textos principales */
  font-family: 'Georgia', serif;
}
